<%= will_paginate class: "center" %>

<table class="table table-striped authors">
	<tr>
		<th>Name</th>
		<th>Books</th>
	</tr>
<% @authors.each do |author| %>
	<tr>
		<td><span class="glyphicon glyphicon-user"></span><%= link_to author.name, author %></td>
		<td><%= author.books.count %></td>
	</tr>
<% end %>
</table>

<%= will_paginate class: "center" %>
